<!DOCTYPE HTML>
<html lang="en-US">




<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<title>Vaccine Vault</title>
	<link rel="stylesheet" href="/assets/jquery.mobile-1.4.5.css" />
	<script src="/assets/jquery-2.1.3.js"></script>
	<script src="/assets/jquery.mobile-1.4.5.js"></script>
	<link rel="stylesheet" href="/assets/VaccineVault.css" />	
	

	
</head>

<body>	


<!--THIS SECTION CONTAINS THE HOME PAGE CONTENT -->
<div data-role="page" id="home" data-theme="a">

	<!--THIS SECTION CONTAINS THE PANEL CONTENT -->
	<div data-role="panel" id="mypanel" data-position="right" data-display="overlay">
		<h1>Current User</h1>
		<p>Other information such as:
			<ul>
				<li>Ability to update profile</li>
				<li>Information about the version of the app</li>
				<li>The ability to log out</li>
				<li>The ability to delete an account</li>
				<li>A link to our privacy policy</li>
			</ul>
		<a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-left ui-btn-inline">Close</a>
	</div><!-- /panel -->

	<div data-role="header" >
		<a href="#home" data-icon="home" data-iconpos="notext"></a>
		<a href="#mypanel" data-icon="bars" data-iconpos="notext" ></a>
		<h1 class = "less-padding">
			<%= image_tag("logo_white_header_sized.png", alt: "Vaccine Vault") %>
		</h1>
	</div><!--END MyVaccines HEADER SECTION --> 


	<div role="main" class="ui-content no-padding" >
		
		<div class="ui-grid-a">
			<div class="ui-block-a" ><div class="ui-bar ui-bar-c" style="height:100px;"><div class="grade-intro-text"><br>Your Vaccine Grade is: </div></div></div>
			<div class="ui-block-b"><div class="ui-bar ui-bar-c" style="height:100px"><div class="grade-text">B+</div></div></div>
		</div><!--END My Grades CONTENT SECTION -->
	</div>
	
	<div role="main" class="ui-content">	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec. Donec semper mattis eros, nec condimentum ante sollicitudin quis. Etiam orci sem, porttitor ut tellus nec, blandit posuere urna. Proin a arcu non lacus pretium faucibus. Aliquam sed est porttitor, ullamcorper urna nec, vehicula lorem. Cras porttitor est lorem, non venenatis diam convallis congue.</p>
		
		<p>Page content goes here.</p>
	</div><!--END MyVaccines CONTENT SECTION -->

	
	
	<div data-role="footer" class="nav-glyphish-example" data-theme="a" data-position="fixed">
	     <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
	     <ul>
	          <li><a href="#myVaccines" id="myVaccines">
						  <%= image_tag("myvaccine_icon_sized.png", alt: "My Vaccines") %>
	          	<br>My Vaccines</a></li>
	          <li><a href="#addNew" id="addNew">
	          	<%= image_tag("plus_icon_sized.png", alt: "Add New") %>
	          	<br>Add New</a></li>
	          <li><a href="#reports" id="reports">
	          	<%= image_tag("report_icon_sized.png", alt: "Add New") %>
	          	<br>Reports</a></li>
	     </ul>
	     </div><!--END NAVBAR SECTION -->
	 </div><!--END FOOTER SECTION -->
 
</div><!--END HOME PAGE -->


<!--THIS SECTION CONTAINS THE MY VACCINES PAGE CONTENT -->
<div data-role="page" id="myVaccines" data-theme="a">

	<div data-role="header" >
		<a href="#home" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		<h1 class = "less-padding"><img src="Graphics/logo_white_header_sized.png"></h1>
	</div><!--END MyVaccines HEADER SECTION --> 
	
	<div role="main" class="ui-content no-padding">
	<h3 class="ui-bar ui-bar-b no-margins">My Vaccines</h3>

	<div role="main" class="ui-content">	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec. Donec semper mattis eros, nec condimentum ante sollicitudin quis. Etiam orci sem, porttitor ut tellus nec, blandit posuere urna. Proin a arcu non lacus pretium faucibus. Aliquam sed est porttitor, ullamcorper urna nec, vehicula lorem. Cras porttitor est lorem, non venenatis diam convallis congue.</p>
		
		<p>Page content goes here.</p>
	</div><!--END MyVaccines CONTENT SECTION -->
</div>
	
	
	<div data-role="footer" class="nav-glyphish-example" data-theme="a" data-position="fixed">
	     <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
	     <ul>
	          <li><a href="#myVaccines" id="myVaccines"><img src="Graphics/myvaccine_icon_sized.png"><br>My Vaccines</a></li>
	          <li><a href="#addNew" id="addNew"><img src="Graphics/plus_icon_sized.png"><br>Add New</a></li>
	          <li><a href="#reports" id="reports"><img src="Graphics/report_icon_sized.png"><br>Reports</a></li>
	     </ul>
	     </div><!--END NAVBAR SECTION -->
	 </div><!--END FOOTER SECTION -->
 
</div><!--END MyVaccines PAGE -->



	
<!--THIS SECTION CONTAINS THE ADD VACCINE PAGE CONTENT -->
<div data-role="page" id="addNew" data-theme="a">
	
	<div data-role="header" >
		<a href="#home" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		<h1 class = "less-padding"><img src="Graphics/logo_white_header_sized.png"></h1>
	</div><!--END AddNew HEADER SECTION --> 
	
	<div role="main" class="ui-content no-padding">
	<h3 class="ui-bar ui-bar-b no-margins">Add New Vaccination</h3>

	<div role="main" class="ui-content">	
		<input type="text" data-role="date" data-inline="true">
		
		<p>Page content goes here.</p>
	</div><!--END MyVaccines CONTENT SECTION -->
</div>

	<div data-role="footer" class="nav-glyphish-example" data-theme="a" data-position="fixed">
	     <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
	     <ul>
	          <li><a href="#myVaccines" id="myVaccines"><img src="Graphics/myvaccine_icon_sized.png"><br>My Vaccines</a></li>
	          <li><a href="#addNew" id="addNew"><img src="Graphics/plus_icon_sized.png"><br>Add New</a></li>
	          <li><a href="#reports" id="reports"><img src="Graphics/report_icon_sized.png"><br>Reports</a></li>
	     </ul>
	     </div><!--END NAVBAR SECTION -->
	 </div><!--END AddNewFOOTER SECTION -->
 
</div><!--END AddNew PAGE -->
	
	
<!--THIS SECTION CONTAINS THE REPORTS PAGE CONTENT -->
<div data-role="page" id="reports" data-theme="a">
	<div data-role="header" >
		<a href="#home" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		<h1 class = "less-padding"><img src="Graphics/logo_white_header_sized.png"></h1>
	</div><!--END Reports HEADER SECTION --> 
	
	<div role="main" class="ui-content no-padding">
	<h3 class="ui-bar ui-bar-b no-margins">Reports</h3>

	<div role="main" class="ui-content">	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan blandit fermentum. Pellentesque cursus mauris purus, auctor commodo mi ullamcorper nec. Donec semper mattis eros, nec condimentum ante sollicitudin quis. Etiam orci sem, porttitor ut tellus nec, blandit posuere urna. Proin a arcu non lacus pretium faucibus. Aliquam sed est porttitor, ullamcorper urna nec, vehicula lorem. Cras porttitor est lorem, non venenatis diam convallis congue.</p>
		
		<p>Page content goes here.</p>
	</div><!--END MyVaccines CONTENT SECTION -->
</div>
<!--END AddNew CONTENT SECTION -->

	<div data-role="footer" class="nav-glyphish-example" data-theme="a" data-position="fixed">
	     <div data-role="navbar" class="nav-glyphish-example" data-grid="b">
	     <ul>
	          <li><a href="#myVaccines" id="myVaccines"><img src="Graphics/myvaccine_icon_sized.png"><br>My Vaccines</a></li>
	          <li><a href="#addNew" id="addNew"><img src="Graphics/plus_icon_sized.png"><br>Add New</a></li>
	          <li><a href="#reports" id="reports"><img src="Graphics/report_icon_sized.png"><br>Reports</a></li>
	     </ul>
	     </div><!--END NAVBAR SECTION -->
	 </div><!--END AddNewFOOTER SECTION -->
 
</div><!--END AddNew PAGE -->
			
			


</body>
</html>





